head{
	background-color: black;
	color: white;
}
head, body{
	padding: 0px;
	margin: 0px;
}
*{
	box-sizing: border-box;
}
header{
	width: 100%;
	height: 55px;
	background-color: #000;
}
.div_name{
	width: 100%;
	height: 50px;
	background-color: #000;

}
.span_name{
	padding: 0;
	color: orange;
	display: inline-block;
	height: 30px;
	margin: 10px 50px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 10px;
}
.phone_number{
	text-align: center;
	color: orange;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	height: 30px;
	margin: 10px 100px;
	float: right;
}
a{
	text-decoration: none;
	color: orange;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}
.p_n_txt{
	margin-right: 100px;
}
.reg{
	text-decoration: none;
	text-align: center;
	padding: 10px;
	display: inline-block;
	width: 250px;
	height: 40px;
	margin: 5px 0px;
	border: 1px solid orange;
	background-color: #000;
	box-shadow: 0px 3px 5px rgba(205,205,205,1);
	text-transform: capitalize;
	letter-spacing: 3px;
	color: orange;
	border-radius: 25px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.reg:active{
	background-color: gray;
	box-shadow: 0px 1px 1px rgba(205,205,205,1);
}
body{
	background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../img/blackboard.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
main{
	background-color: transparent;
	width: 100%;
	height: 700px;
	border: 1px solid black;
}
.main_txt{
	margin: 100px 0px 0 100px;
	float: left;
	padding: 20px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.main_txt_p{
	float: left;
	color: white;
	text-transform: normal;
	max-width: 600px;
	max-height: 400px;
	font-size: 60px;
}
.image_main{
	float: right;
	width: 500px;
	height: 500px;
	margin-right: 100px;
	margin-top: 120px;
	background: transparent;
}
.img{
	width: 500px;
	height: 500px;
	background-color: transparent;
}
.nav{
	width: 100%;
	background-color: #000;
}
.nav_fone{
	background-color: #000;
	width: 98%;
	height: 50px;
	border-radius: 25px;
	border: 1px solid orangered;
	background-color: black;
	margin-left: 1%;
	margin-right: 1%;

	color: white;
	text-align: center;
	padding-top: 10px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	letter-spacing: 10px;
	transform: uppercase;
}
.bottom_a{
	width: 80%;
	margin: 50px 10%;
	height: 1000px;
	border-right: 10%;
}
.bottom_a_in1{
	width: 30%;
	height: 250px;
	overflow: hidden;
	margin-right: 5%;
	margin-bottom: 50px;
	float: left;
	border: 3px solid white;
	box-shadow: 0px 15px 10px 10px rgba(0,71,21,1);
	border-radius: 10%;
}
.bottom_a_in1:hover{
	box-shadow:  0px 5px 5px 5px rgba(0,31,21,1);
}
.bottom_a_in2:hover{
	box-shadow:  0px 5px 5px 5px rgba(0,31,21,1);
}
.bottom_a_in3:hover{
	box-shadow:  0px 5px 5px 5px rgba(0,31,21,1);
}
.bottom_a_in2{
	width: 30%;
	border-radius: 10%;
	height: 250px;
	margin-right: 5%;
	margin-bottom: 50px; 
	float: left;
	border: 3px solid white;
	overflow: hidden;
	box-shadow: 0px 15px 10px 10px rgba(0,71,21,1);
}
.bottom_a_in3{
	width: 30%;
	border-radius: 10%;
	height: 250px;
	margin-bottom: 100px;
	float: left;
	border: 3px solid white;
	overflow: hidden;
	box-shadow: 0px 15px 10px 10px rgba(0,71,21,1);
}
.a{
	display: inline-block;
	width: 100%;
	border-radius: 10%;
	overflow: hidden;
	height: 100%;
	text-decoration: none;
	color: #fff;
	padding: 0px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background: url(../img/доска2.jpg);
	background-color: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8));

}
.a:hover{
	background: url(../img/доска2.jpg);
	transform: scale(1.1);
	overflow: hidden;
	transition: 1.0s all;
	background-color: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
}
.p_bot:active{
	color: yellow;
	border-color: yellow;
	background: linear-gradient(rgba(255, 255, 51, 0.1), rgba(255, 255, 102, 0.1)); 
}
.p_bot{
	display: inline-block;
	width: 100%;
	max-width: 90%;
	margin-left: 5%;
	height: 100%;
	border-radius: 10%;
	text-align: center;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
	font-weight: 700;
	letter-spacing: 10px;
	text-transform: uppercase;
	border-color: orange;
	text-shadow: 1px 1px 35px rgba(0,71,21,1);
	background-color: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8));
}
.span{
display: inline-block;
background-color: #333;
color: darkorange;
border: 1px solid;
border-color: darkorange;
border-radius: 15px;
}